*
	margin 0
	padding 0
	line-height 1
	font-family SimHei
	border-sizing border-box
a
	text-decoration none
	color inherit
ul
ol
	list-style none
em
i
	font-style normal
.hidden
	display none
header
	width 100%
	height (37/16)rem
	background-color rgb(254,84,0)
	position relative
	>img
		position absolute
		left 0.2rem
		top 0.01rem
	input
		width (277/16)rem
		height (25/16)rem
		background-color #B52600
		border-radius 4px
		position absolute
		right 0.3rem
		top 0.4rem
		text-align center
		border-sizing border-box
		border none
		color white
	i
		position absolute
		left 7.3rem
		top 0.6rem
		width 1rem
		height @width
		background url(../image/b2.png) no-repeat -(4/16)rem 0
.banner
	width 100%
	height (100/16)rem
	background-color skyblue
	position relative
	>img
		position absolute
		width 100%
		height (100/16)rem
	ul
		position absolute
		z-index 9999
		right 0.5rem
		bottom 0.8rem
		li
			float left
			width 0.4rem
			height @width
			background-color white
			margin-left 0.5rem
			border-radius 50%
			&:first-child
				background-color orange
.ul1
	width 100%
	height 	(147/16)rem
	li
		float left
		width 18%
		heigth (60/16)rem
		text-align center
		margin-left 1.6%
		margin-top (8/16)rem
		color rgb(102, 102, 102)
		font-size (14/16)rem
		.li1
			background url(../image/c1.png) no-repeat
		.li2
			background url(../image/c2.png) no-repeat
		.li3
			background url(../image/c3.png) no-repeat
		.li4
			background url(../image/c4.png) no-repeat
		.li5
			background url(../image/c5.png) no-repeat
		.li6
			background url(../image/c6.png) no-repeat
		.li7
			background url(../image/c7.png) no-repeat
		.li8
			background url(../image/c8.png) no-repeat
		.li9
			background url(../image/c9.png) no-repeat
		.li10
			background url(../image/c10.png) no-repeat
		.li
			box-sizing border-box
			line-height 0
			margin 0 auto
			width 3rem
			height 3rem
			background-size contain
			background-position 50% 50%
.view
	width 100%
	height (30/16)rem
	border-top 1px solid rgb(238,238,238)
	border-bottom 5px solid rgb(238,238,238)
	vertical-align center
	position relative
	i
		margin 0.25rem 0.25rem
		display inline-block
		width (70/16)rem
		height (24/16)rem
		background url(../image/d1.png) no-repeat center
		background-size 80% 80%
		border-right 1px solid rgb(238,238,238)
	span
		display inline-block
		color red
		padding 2px
		border 1px solid red
		border-radius 4px
		position absolute
		top 0.25rem
		left 5rem
	.text
		width 60%
		height 80%
		position absolute
		right 0.5rem
		top 10%
		line-height (22/16)rem
		text-indent 0.5rem
.nav
	width 100%
	height 10rem
	border-bottom 0.5rem solid rgb(238,238,238)
	position relative
	.clock
		position absolute
		top 2.8rem
		left 0.5rem
		width 5rem
		height 1rem
		>img
			width 0.5rem
			heigth 0.5rem
			float left
			margin-left .1rem
	.nav1
		width (118/16)rem
		height 100%
		float left
		background url(../image/cc1.jpg)
		background-size 102%
		border-right 1px solid rgb(238,238,238)
		border-sizing border-box
	.nav2
		float left
		width (200/16)rem
		height 100%
		overflow hidden
		img
			width 100%
		.img1
			border-bottom 1px solid rgb(238,238,238)
.pianyi
	width 100%
	height 2.5rem
	text-align center
	line-height 2.5rem
	color red
	font-size (20/16)rem
	background-color blue
	background url(../image/cc4.png) no-repeat 7rem 0.65rem
	background-size 6%
footer
	position fixed
	bottom 0
	width 100%
	height (44/16)rem
	border-top 1px solid rgb(238,238,238)
	ul
		li
			float left
			width 4rem
			height (44/16)rem
			text-align center
			color #5D656B
			font-size (14/16)rem
			span
				margin 0 auto
				display block
				width 80%
				height 60%
			.span1
				background url(../image/e1.png) no-repeat center
			.span2
				background url(../image/e2.png) no-repeat center
			.span3
				background url(../image/e3.png) no-repeat center
			.span4
				background url(../image/e4.png) no-repeat center
			.span5
				background url(../image/e5.png) no-repeat center	
				
	
	
			
		
	

		
	
	
		
		
		
		
				
				
