*
	margin 0
	padding 0
	line-height 1
	font-family SimHei
a
	text-decoration none
ul
ol
	list-style none
em
i
	font-style normal
.box
	position relative
	margin 2rem auto 0
	width 16rem
	height 6rem
	border 1px solid
.taskBox
	@extend .box
	background-color red
.dustbin
	@extend .box
	background-color green
.task
	position absolute
	top 0
	left 0
	width 4rem
	height @width
	background-color blue
	z-index 1